.container {
	height: 31vh;
	width: 100%;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
}
.heading {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 1rem;
	font-weight: bold;
}
.img-holder {
	margin: auto;
	width: 169px;
	height: 157px;
	border: 3px #7d6565 solid;
	border-radius: 5px;
	margin-top: 1rem;
}
.img {
	width: 163px;
	height: 151px;
	object-fit: cover;
}
#input[type="file"] {
	display: none;
}
.label {
	width: 33%;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}
.image-upload {
	padding-top: 6px;
	margin: auto;
	width: 170px;
	height: 31px;
	color: white;
	border-radius: 10px;
	background-color: #48526c;
	text-align: center;
	cursor: pointer;
}
