.slick-slider,
.slick-list {
	height: 100% !important;
}

.slick-track {
	height: inherit;
}

.slick-slide,
.slick-slide div {
	height: inherit !important;
}

.slide-image {
	height: inherit;
}
.intro-content {
	position: absolute;
	left: 115px;
	top: 80%;
	z-index: 10;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
@media screen and (max-width: 479px) {
	.slider-container-1 {
		height: 219px;
	}
	.intro-slide {
		background-color: #fafafa;
	}
	.intro-content {
		position: absolute;
		left: 2rem;
		top: 65%;
		z-index: 10;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}
}
.intro-slide {
	position: relative;
}

/* .slider-container-1:before {
	display: block;
	content: "";
	width: 100%;
} */
.slick-dots {
	z-index: 0;
}
.slick-list {
	z-index: 5;
}
.slick-slide {
	padding: 0 2px;
	box-sizing: border-box;
}
